/*brayden cannon, 11/10/2025*/

h3{
	text-align: center;
}
p{
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
input{
	margin-bottom: 0.5em;
}
select{
	margin-bottom: 0.5em;
}
textarea{
	margin-bottom: 0.5em;
}
@media only screen and (min-width: 768px) {
	form{
		display: grid;
		width: 60%;
		max-width: 30em;
		gap: 1em;
		grid-template-columns: 6em 1fr;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
	}
	form > input[type="submit"]{
		grid-column: 2;
		width: 10em;
	}
}