/*brayden cannon, 10/16/2025*/
body {
	background-color: lightblue;
	color: #4B3832;
}
header {
	font-family: Trebuchet MS, monospace;
	color:  black;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}
p{
	color: black;
}
li{
	color: black;
}
img {
    float: left;
	height: 50px;
	width: 50px;
}
.navigation{
	text-align: center;
}
nav a{
	font-family: Courier, monospace;
	font-size: 24px;
	color: black;
	border-style: solid;
	border-width: 2px;
	text-decoration: none;
}
a{	
	
}
nav a:hover {
	font-family: Courier, monospace;
	font-size: 24px;
	color: black;
	border-style: solid;
	border-width: 2px;
	font-weight: bold;
}
main {
	color: black;
	
}
.footer {
	font-size: 12px;
}
